body {
  font-family: Arial;
  margin: 0;
}

/* NAV */
.navbar {
  display: flex;
  justify-content: space-between;
  background: #0A2540;
  color: white;
  padding: 15px;
}

#nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

#menu-btn {
  display: none;
}

/* MOBILE */
@media (max-width: 768px) {
  #nav-links {
    display: none;
    flex-direction: column;
  }

  #nav-links.show {
    display: flex;
  }

  #menu-btn {
    display: block;
  }
}

/* DARK MODE */
.dark {
  background-color: #111;
  color: white;
}

/* FAQ */
.faq-answer {
  display: none;
}

/* FORM */
input {
  display: block;
  margin: 10px 0;
}
